1. Write a Python program to print &quot;Hello Python&quot;?
2. Write a Python program to do arithmetical operations addition and division.?
3. Write a Python program to find the area of a triangle?
4. Write a Python program to swap two variables?
5. Write a Python program to generate a random number?

In [ ]:
"hello python"

'hello python'

In [ ]:
def w(s):
  s = str(input('enter a sentence'))
  print(s)

In [ ]:
w('kp')

enter a sentencehello python
hello python

In [ ]:
def add(x,y):
  x = float(input('first number'))
  y = float(input('second number'))
  sum = x+y
  print("addition of", x, 'and', y, 'is', sum)

In [ ]:
add(32,56)

first number32
second number56
addition of 32.0 and 56.0 is 88.0

In [ ]:
def divide(u,v):
  u = float(input('1st number'))
  v = float(input('2nd number'))
  div = u/v
  print(u,'by',v,'is',div)

In [ ]:
divide(56,8)

1st number56
2nd number8
56.0 by 8.0 is 7.0

In [ ]:
def area(a,b):
  a = float(input('base in cm'))
  b = float(input('height in cm'))
  area = 1/2*a*b
  print('area of triangle having base',a,'and height', b, 'is', area,'sq.cm')

In [ ]:
area(100,70)

base in cm100
height in cm70
area of triangle having base 100.0 and height 70.0 is 3500.0 sq.cm

In [ ]:
import random
n =random.random()
print (n)

0.37807687502965337

In [ ]:
x = 10
y=20
x=y
print('the value of x is',x)

the value of x is 20