In [ ]:
1. Write a Python program to convert kilometers to miles?
2. Write a Python program to convert Celsius to Fahrenheit?
3. Write a Python program to display calendar?
4. Write a Python program to solve quadratic equation?
5. Write a Python program to swap two variables without temp variable?

In [ ]:
x=10
y=20
x=y
print('the value of x is', x)

the value of x is 20

In [ ]:
def k(m):
  m= float(input('value in kilometers'))
  c= 0.621371*m
  print(m,'km','is',c,'miles')

In [ ]:
k(1)

value in kilometers20
20.0 km is 12.42742 miles

In [ ]:
def c(f):
  c=float(input('temperature in degree C'))
  f= c*9/5 +32
  print(c,'degree C is',f,'F' )

In [ ]:
c(2)

temperature in degree C100
100.0 degree C is 212.0 F

In [ ]:
import calendar
y = int(input('year:'))
m = int(input('month:'))
print(calendar.month(y,m))

year:2023
month:9
   September 2023
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30

In [ ]:
import cmath
import math
def qe(a,b,c):
  a= float(input('a:'))
  b= float(input('b:'))
  c = float(input('c:'))
  d = b**2 - 4*a*c
  if d < 0:
    Root1 = (-b-cmath.sqrt(d))/(2*a)
    Root2 = (-b+cmath.sqrt(d))/(2*a)
    print('the solution of quadratic equation containing a, b,c=', a,b,c, 'is', Root1, Root2)
  if d > 0:
    Root1 = (-b-math.sqrt(d))/(2*a)
    Root2 = (-b + math.sqrt(d))/(2*a)
    print('the solution of quadratic equation containing a, b,c=', a,b,c, 'is', Root1, Root2)

In [ ]:
qe(3,5,6)

a:1
b:-8
c:15
the solution of quadratic equation containing a, b,c= 1.0 -8.0 15.0 is 3.0 5.0

In [ ]:
qe(1,2,3)

a:2
b:1
c:1
the solution of quadratic equation containing a, b,c= 2.0 1.0 1.0 is (-0.25-0.6614378277661477j) (-0.25+0.6614378277661477j)